@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

/* common shair style */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 5px;
    background: #ff6c03;
    font-size: 20px;
    border: 0;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
}

/* nav related style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}

.text-primary {
    color: #c65607;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header section */
.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner .profil-pic {
    width: 584px;


}

.banner-content {
    max-width: 547px;
}

.banner-gratting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    margin-bottom: 30px;


}

/* main section style */
.section-title {
    color: #181818;
    text-align: center;

    font-size: 35px;

    font-weight: 700;

}

.main-container section{
    margin-top: 130px;
}

.main-container {
    max-width: 80%;
    margin: 0px auto;
}

.section-description {
    color: #757575;
    text-align: center;

    font-size: 18px;

    font-weight: 400;
    line-height: 30px;

}

/* about section style */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
    min-width: 300px;


}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.about-info {
    text-align: center;
}

#sourov {
    padding: 30px 150px;
}

.skill-container {
    display: flex;
    gap:30px
    
    
}

.skill{
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.resume-container{
    display: flex;
    gap:50px
}
.resume-container hr{
    margin:30px 0px
}
.resume h1{
    color:red;
    font-size:40px;
    padding-top:10px
}
.resume h3{
    color:green;
    font-size: 30px;
    padding-bottom: 10px;
}
.sk{
    text-align: center;
    margin-top: 30px;
}
/* footer niya alocona */

.footer{
    display: flex;
    background-color:#FFF8F3;
    padding: 130px 200px;
    gap:250px;
    margin-top:80px;
}
.footer-title{
    width: 50%;
    
}
/* form */
.form-type input[type="email"], .form-type input[type=text], textarea{
    display: block;
    padding: 25px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 30px;
    border:4px inset green;
    width: 100%;
    text-align: center;
}
